{% assign enable_toc = false %}
{% if site.toc and page.toc %}
  {% if page.content contains '<h2' or page.content contains '<h3' %}
    {% assign enable_toc = true %}
  {% endif %}
{% endif %}

{% if enable_toc %}
  <section id="toc-wrapper" class="ps-0 pe-4">
    <h2 class="panel-heading ps-3 pt-2 mb-2">{{- site.data.locales[include.lang].panel.toc -}}</h2>
    <nav id="toc"></nav>
    <p></p>
    <div style="padding-left: 20px;">
    <script type="text/javascript">
        (function(cl,i,c,k,m,o,n){m=c;o=cl.referrer;m+='&mon_rf='+encodeURIComponent(o);m+='&mon_direct_url='+encodeURIComponent(k);
        n='<'+i+' type="text/javascript" src="'+m+'"></'+i+'>';cl.writeln(n);
        })(document,'script','https://tab2.clickmon.co.kr/pop/wp_ad_200_js.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1091067%7C%5E%7CAdver_M_1046207','PASSBACK_INPUT');
        </script>
        </div>
  </section>
{% endif %}
